#user-box-with-name-avatar {
  display: flex;
  grid-gap: 16px;
}

#user-box-with-name-avatar > img {
  height: 86px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
